@media print {
	.TblHeading
	{
		font-size:xx-small;
		font-weight:bold;
		color:#000000;
		text-decoration:none;
	}
	.TblHeading A
	{
		font-size:xx-small;
		font-weight:bold;
		color:#0000FF;
		text-decoration:none;
	}
	.TblHeading	A:hover
	{
		font-size:xx-small;
		font-weight:bold;
		color:#FFFFFF;
		text-decoration:none;
	}
	
	.TblHeading	A:visited
	{
		font-size:xx-small;
		font-weight:bold;
		color:#FFFFFF;
		text-decoration:none;
	}
	
	/* FOR FRONT-END FOOTER */
	.copyBottom
	{
		COLOR: #5A5A5A;
		FONT-SIZE: 7.5pt;
		TEXT-DECORATION: none;
	}
	.copyBottom A
	{
		COLOR: #000000;
		FONT-SIZE: 7.5pt;
		TEXT-DECORATION: none;
	}
	.copyBottom A:hover
	{
		COLOR: #5A5A5A;
		FONT-SIZE: 7.5pt;
		TEXT-DECORATION: none;
	}
	.copyBottom A:visited
	{
		COLOR: maroon;
		FONT-SIZE: 7.5pt;
		TEXT-DECORATION: none;
	}
	
	/* FOR MAIN BODY TEXT */
	.maintext
	{
		color:#000000;
		font-size:smaller;
		text-decoration:none;
	}
	.maintext A
	{
		color:Blue;
		font-size:smaller;
		text-decoration:none;
	}
	.maintext A:hover
	{
		color:Blue;
		font-size:smaller;
		text-decoration:underline;
	}
	.maintext A:visited
	{
		color:Maroon;
		font-size:smaller;
		text-decoration:underline;
	}
	
	.mainheading{font-size:x-small; color:#46716C;}
	.mainheading A{font-size:x-small; color:Blue;}
	.mainheading A:hover{font-size:x-small; color:#46716C;}
	.mainheading A:visited {font-size:x-small; color:Maroon;}
	
	body 
	{
		font-family:Verdana;
		margin:0px;
		color:#000000;
		background-color:#FFFFFF;

	}
}